/* Margin, Padding, Border Resets
-------------------------------------------------------------- */
html, body, div, span, p,
dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
form, fieldset, input, textarea {
  margin: 0;
  padding: 0;
}

img, abbr, acronym {
  border: 0;
}


/* HTML Elements
-------------------------------------------------------------- */
p {
  margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
}

ul, ol, dd {
  margin-bottom: 1.5em;
  margin-left: 2em; /* LTR */
}

li ul, li ol {
  margin-bottom: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a:link,
a:visited {
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

blockquote {
}

hr {
  height: 1px;
  border: 1px solid gray;
}

/* tables */
table {
  border-spacing: 0;
  width: 100%;
}

caption {
  text-align: left;
}

th {
  margin: 0;
  padding: 0 10px 0 0;
}

th.active img {
  display: inline;
}

thead th {
  padding-right: 10px;
}

td {
  margin: 0;
  padding: 3px;
}

/* Remove grid block styles from Drupal's table ".block" class */
td.block {
  border: none;
  float: none;
  margin: 0;
}

/* Maintain light background/dark text on dragged table rows */
tr.drag td,
tr.drag-previous td {
  background: #FFFFDD;
  color: #000;
}


/* Accessibility
/-------------------------------------------------------------- */
/* skip-link to main content, hide offscreen */
#skip a,
#skip a:hover,
#skip a:visited {
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: -500px;
  width: 1px;
}

/* make skip link visible when selected */
#skip a:active,
#skip a:focus {
  background-color: #fff;
  color: #000;
  height: auto;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  width: auto;
  z-index: 99;
}

#skip a:hover {
  text-decoration: none;
}


/* Helper Classes
/-------------------------------------------------------------- */
.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

/* clear floats after an element */
/* (also in ie6-fixes.css, ie7-fixes.css) */
.clearfix:after,
.clearfix .inner:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}


/* Grid Layout Basics (specifics in 'gridnn_x.css')
-------------------------------------------------------------- */
/* center page and full rows: override this for left-aligned page */
.page,
.row {
  margin: 0 auto;
}

.row {
  overflow: hidden;
}

/* full-width row wrapper */
div.full-width {
  width: 100%;
}

/* float, un-center & expand nested rows */
.nested {
  float: left; /* LTR */
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/* sidebar layouts */
.sidebars-both-first .content-group {
  float: right; /* LTR */
}

.sidebars-both-last .sidebar-first {
  float: right; /* LTR */
}

/* Grid Mask Overlay
-------------------------------------------------------------- */
#grid-mask-overlay {
  display: none;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 997;
}

#grid-mask-overlay .row {
  margin: 0 auto;
}

#grid-mask-overlay .block .inner {
  background-color: #e3fffc;
  outline: none;
}

.grid-mask #grid-mask-overlay {
  display: block;
}

.grid-mask .block {
  overflow: visible;
}

.grid-mask .block .inner {
  outline: #f00 dashed 1px;
}

#grid-mask-toggle {
  background-color: #777;
  border: 2px outset #fff;
  color: #fff;
  cursor: pointer;
  font-variant: small-caps;
  font-weight: normal;
  left: 0;
  -moz-border-radius: 5px;
  padding: 0 5px 2px 5px;
  position: absolute;
  text-align: center;
  top: 22px;
  -webkit-border-radius: 5px;
  z-index: 998;
}

#grid-mask-toggle.grid-on {
  border-style: inset;
  font-weight: bold;
}


/* Site Info
-------------------------------------------------------------- */
#header-site-info {
  width: auto;
}

#site-name,
#slogan {
  display: block;
}

#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
  text-decoration: none;
}

#site-name a {
  outline: 0;
}


/* Regions
-------------------------------------------------------------- */

/* Header Regions
-------------------------------------------------------------- */
#header-group {
  overflow: visible;
}

/* Content Regions (Main)
-------------------------------------------------------------- */
.node-bottom {
  margin: 1.5em 0 0 0;
}

/*  Clear floats on regions
-------------------------------------------------------------- */
#header-top-wrapper,
#header-group-wrapper,
#preface-top-wrapper,
#main-wrapper,
#preface-bottom,
#content-top,
#content-region,
#content-bottom,
#postscript-top,
#postscript-bottom-wrapper,
#footer-wrapper,
#footer-message-wrapper {
  clear: both;
}



/* Skinr styles
/-------------------------------------------------------------- */

/* Skinr selectable helper classes */
.fusion-clear {
  clear: both;
}

div.fusion-right {
  float: right; /* LTR */
}

div.fusion-center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.fusion-center-content .inner {
  text-align: center;
}

/* required to override drupal core */
.fusion-center-content #user-login-form {
  text-align: center;
}

.fusion-right-content .inner {
  text-align: right; /* LTR */
}

/* required to override drupal core */
.fusion-right-content #user-login-form {
  text-align: right; /* LTR */
}

/* Large, bold callout text style */
.fusion-callout .inner {
  font-weight: bold;
}

/* Extra padding on block */
.fusion-padding .inner {
  padding: 30px;
}

/* Adds 1px border and padding */
.fusion-border .inner {
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

/* Single line menu with separators */
.fusion-inline-menu .inner ul.menu {
  margin-left: 0; /* LTR */
}

.fusion-inline-menu .inner ul.menu li {
  border-right-style: solid;
  border-right-width: 1px;
  display: inline;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.fusion-inline-menu .inner ul.menu li a {
  padding: 0 8px 0 5px; /* LTR */
}

.fusion-inline-menu .inner ul li.last {
  border: none;
}

/* Hide second level (and beyond) menu items */
.fusion-inline-menu .inner ul li.expanded ul {
  display: none;
}

/* Multi-column menu style with bolded top level menu items */
.fusion-multicol-menu .inner ul {
  margin-left: 0; /* LTR */
  text-align: left; /* LTR */
}

.fusion-multicol-menu .inner ul li {
  border-right: none;
  display: block;
  font-weight: bold;
}

.fusion-multicol-menu .inner ul li.last {
  border-right: none;
}

.fusion-multicol-menu .inner ul li.last a {
  padding-right: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded,
.fusion-multicol-menu .inner ul li.leaf {
  float: left; /* LTR */
  list-style-image: none;
  margin-left: 50px; /* LTR */
}

.fusion-multicol-menu .inner ul.menu li.first {
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded li.leaf {
  float: none;
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded ul {
  display: block;
  margin-left: 0; /* LTR */
}

.fusion-multicol-menu .inner ul li.expanded ul li {
  border: none;
  margin-left: 0; /* LTR */
  text-align: left; /* LTR */
}

.fusion-multicol-menu .inner ul.menu li ul.menu li {
  font-weight: normal;
}

/* Split list across multiple columns */
.fusion-2-col-list .inner .item-list ul li,
.fusion-2-col-list .inner ul.menu li {
  float: left; /* LTR */
  width: 50%;
}

.fusion-3-col-list .inner .item-list ul li,
.fusion-3-col-list .inner ul.menu li {
  float: left; /* LTR */
  width: 33%;
}

.fusion-2-col-list .inner .item-list ul.pager li,
.fusion-3-col-list .inner .item-list ul.pager li {
  float: none;
  width: auto;
}

/* List with bottom border
    Fixes a common issue when list items have bottom borders and appear to be
    doubled when nested lists end and begin. This removes the extra border-bottom
 */
.fusion-list-bottom-border .inner ul li {
  list-style: none;
  list-style-type: none;
  list-style-image: none;
}

.fusion-list-bottom-border .inner ul li,
.fusion-list-bottom-border .view-content div.views-row {
  padding: 0 0 0 10px; /* LTR */
  border-bottom-style: solid;
  border-bottom-width: 1px;
  line-height: 216.7%; /* 26px */
}

.fusion-list-bottom-border .inner ul {
  margin: 0;
}

.fusion-list-bottom-border .inner ul li ul {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.fusion-list-bottom-border .inner ul li ul li.last {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: -1px;
  margin-top: -1px;
}

/* List with no bullet and extra padding
    This is a common style for menus, which removes the bullet and adds more
    vertical padding for a simple list style
 */
.fusion-list-vertical-spacing .inner ul,
.fusion-list-vertical-spacing div.views-row-first {
  margin-left: 0;
  margin-top: 10px;
}

.fusion-list-vertical-spacing .inner ul li,
.fusion-list-vertical-spacing div.views-row {
  line-height: 133.3%; /* 16px/12px */
  margin-bottom: 10px;
  padding: 0;
}

.fusion-list-vertical-spacing .inner ul li {
  list-style: none;
  list-style-image: none;
  list-style-type: none;
}

.fusion-list-vertical-spacing .inner ul li ul {
  margin-left: 10px; /* LTR */
}

/* Bold all links */
.fusion-bold-links .inner a {
  font-weight: bold;
}

/* Float imagefield images left and add margin */
.fusion-float-imagefield-left .field-type-filefield,
.fusion-float-imagefield-left .image-insert,
.fusion-float-imagefield-left .imagecache {
  float: left; /* LTR */
  margin: 0 15px 15px 0; /* LTR */
}

/* Clear float on new Views item so each row drops to a new line */
.fusion-float-imagefield-left .views-row {
  clear: left; /* LTR */
}

/* Float imagefield images right and add margin */
.fusion-float-imagefield-right .field-type-filefield,
.fusion-float-imagefield-right .image-insert
.fusion-float-imagefield-right .imagecache {
  float: right; /* LTR */
  margin: 0 0 15px 15px; /* LTR */
}

/* Clear float on new Views item so each row drops to a new line */
.fusion-float-imagefield-right .views-row {
  clear: right; /* LTR */
}



/* Forms
/-------------------------------------------------------------- */
/* defaults for all text fields */
.form-text {
  padding: 2px;
}

/* defaults for all form buttons */
form input.form-submit {
  cursor: pointer;
  font-weight: bold;
  margin: 2px;
  padding: 3px 5px;
}

form input.form-submit:hover {
  cursor: pointer;
}

fieldset {
  margin: 15px 0;
  padding: 10px;
}

html.js fieldset.collapsed {
  margin-bottom: 15px;
}

/* limit width of form inputs */
textarea,
.form-item input,
.form-item select,
#content-region input.form-text {
  max-width: 95%;
}

html.js textarea {
  max-width: 100%;
}

/* adjust for collapsible fieldset differences */
fieldset.collapsible .resizable-textarea textarea {
  max-width: 101.5%;
}

fieldset.collapsible .resizable-textarea .grippie {
  width: 101%;
}

/* keep admin pages visible */
.page-admin #main-content-inner .nested,
.page-admin #content-group,
.page-admin #content-region,
.page-admin #content-inner {
  margin-bottom: 1.5em;
  overflow: visible;
}

/* keep admin form elements on top */
.page-admin .content-inner-inner {
  z-index: 10;
}

/* theme settings form field width limit */
form#system-theme-settings select,
form#system-theme-settings input.form-text {
  max-width: 95%;
}

/* keep theme select form visible */
#system-themes-form {
  position: relative;
  z-index: 1;
}

/* keep theme switcher visible */
.form-item select#edit-theme {
  max-width: none;
}

/* keep admin columns from dropping under */
div.admin .left,
div.admin .right {
  margin-left: 1%;
  margin-right: 1%;
}

/* region labels on block admin page */
.block-region {
  background-color: #F3F3F3;
  border: 3px dashed #CCCCCC;
  color: #555555;
  font-weight: bold;
  margin: 1px;
  padding: 3px;
  text-align: center;
  text-shadow: 1px 1px #FDFDFD;
  text-transform: uppercase;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


/* User Login Form
/-------------------------------------------------------------- */
/* remove centering on login form */
#user-login-form {
  text-align: left; /* LTR */
}

#user-login-form .item-list {
  margin-top: 1em;
}

#user-login-form .item-list ul {
  margin-left: 0; /* LTR */
}

/* remove list styling on login form */
#user-login-form div.item-list ul li {
  list-style-type: none;
  margin: 0;
}

/* adjust openid link (display set in openid.js) */
#user-login-form li.openid-link a,
#user-login li.openid-link a {
  background-position: 0 0;
  padding: 0 0 0 20px;
}

/* User Login Form - Horizontal (Skinr selectable)
/-------------------------------------------------------------- */
.fusion-horiz-login#block-user-0 {
  float: right;
  margin: 20px 0 10px 0;
  position: relative;
}

html.js .fusion-horiz-login#block-user-0 {
  margin-top: 10px;
}

.fusion-horiz-login#block-user-0 h2.title {
  display: none;
}

.fusion-horiz-login#block-user-0 #user-login-form div.form-item,
.fusion-horiz-login#block-user-0 #user-login-form input.form-submit,
.fusion-horiz-login#block-user-0 .item-list {
  float: left;
  margin: 0 10px 0 0;
  text-align: left;
}

.fusion-horiz-login#block-user-0 #user-login-form input.form-submit {
  padding: 2px 15px;
  text-align: center;
}

.fusion-horiz-login#block-user-0 #user-login-form div.form-item {
  width: 115px;
}

.fusion-horiz-login#block-user-0 #user-login-form label {
  margin: -20px 0 0 2px;
}

html.js .fusion-horiz-login#block-user-0 #user-login-form label {
  display: block;
  font-weight: normal;
  margin: 0 0 0 7px;
  position: absolute;
  top: 2px;
}

.fusion-horiz-login#block-user-0 #user-login-form input.form-text {
  border-width: 1px;
  padding: 1px;
  width: 125px;
}

.fusion-horiz-login#block-user-0 .item-list {
  margin-top: -1px;
}

.fusion-horiz-login#block-user-0 .item-list ul {
  margin: 0;
  padding: 0;
}

.fusion-horiz-login#block-user-0 .item-list li {
  list-style: none;
  margin: 0;
}

.fusion-horiz-login#block-user-0 .item-list li a {
  text-decoration: none;
}

.fusion-horiz-login#block-user-0 .item-list li a:hover,
.fusion-horiz-login#block-user-0 .item-list li a:focus {
  text-decoration: underline;
}


/* OpenID login*/
.fusion-horiz-login#block-user-0 #user-login-form li.openid-link,
.fusion-horiz-login#block-user-0 #user-login-form li.user-link {
  background: none;
  padding: 6px 0 0 0;
}

.fusion-horiz-login#block-user-0 #user-login-form div#edit-openid-identifier-wrapper {
  margin: 0 10px 0 0;
  width: 145px;
}

.fusion-horiz-login#block-user-0 #user-login-form input#edit-openid-identifier.form-text {
  width: 135px;
}

html.js .fusion-horiz-login#block-user-0 #user-login-form div#edit-openid-identifier-wrapper label {
  padding-left: 18px;
}

.fusion-horiz-login#block-user-0 #edit-openid-identifier-wrapper .description {
  padding-right: 5px;
  text-align: right;
}


/* Blocks
/-------------------------------------------------------------- */
.block {
  float: left; /* LTR */
  margin-bottom: 1.5em;
  overflow: hidden;
  width: 100%;
}

/* no gutters for blocks in content region */
#content-content .inner {
  margin-left: 0;
  margin-right: 0;
}

/* administrator block edit links */
.block .inner {
  position: relative;
}

.block .fusion-edit {
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: left; /* LTR */
  top: 0;
  z-index: 10;
}

/* Nodes
/-------------------------------------------------------------- */
div.node {
  margin-bottom: 1.5em;
}

/* remove image borders and add margin for feed, node link, table sort images */
a.feed-icon img,
ul.links img,
th img {
  border: 0;
  margin: 0 5px;
}

/* remove awkward link padding on login/register to comment links */
#content-content .node ul.links li.comment_forbidden a {
  padding-right: 0;
}


/* Comments
/-------------------------------------------------------------- */
div.comment {
  margin: 15px 0;
  padding: 10px;
}

div.comment h3.title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

div.comment div.links a,
div.comment ul.links a {
  text-align: right;
}

.comment-folded {
  margin: 1em 0 1em 1em;
}

.comment-folded .subject {
  font-weight: bold;
  padding-right: 5px;
  text-transform: uppercase;
}

.comment-folded .subject a {
  font-style: normal;
  text-transform: none;
  font-weight: normal;
}

.signature {
  border-top-style: solid;
  border-top-width: 1px;
  margin: 10px 0;
  padding: 0;
}


/* Profiles
/-------------------------------------------------------------- */
.profile {
  clear: none;
  margin: 12px 0;
}

.profile h2.title {
  margin-top: 15px;
  border-bottom: 1px solid;
}

.profile dt {
  float: left; /* LTR */
  margin-bottom: -10px;
  margin-right: 5px; /* LTR */
  padding: 0 5px;
  text-align: left; /* LTR */
  width: 185px;
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
  margin: 5px;
}

#forum td.created,
#forum td.posts,
#forum td.topics,
#forum td.last-reply,
#forum td.replies,
#forum td.pager {
  white-space: nowrap;
}

#forum td.posts,
#forum td.topics,
#forum td.replies,
#forum td.pager {
  text-align: center;
}

.forum-topic-navigation {
  padding: 10px 0 0 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  padding: 5px;
}

.forum-topic-navigation .topic-previous {
  text-align: right; /* LTR */
  float: left; /* LTR */
  width: 46%;
}

.forum-topic-navigation .topic-next {
  text-align: left; /* LTR */
  float: right; /* LTR */
  width: 46%;
}


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px 0 0 30px;
}
.book-navigation .page-links {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-top-width: 1px;
  text-align: center;
  padding: 5px;
}


/* Drupal Messages
/-------------------------------------------------------------- */
div.content-messages div.messages,
div.content-help div.help {
  border-style: solid;
  border-width: 6px;
  font-weight: bold;
  margin-bottom: 1.5em;
  overflow: hidden;
  padding: 14px;
}

div.content-messages-inner div.status {
  background-color: #EAF8E4;
  border-color: #8DC478;
  color: #3E642F;
}

div.content-messages-inner div.warning {
  background: #FFFFDD;
  border-color: #EED300;
  color: #745500;
}

div.content-messages-inner div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
}

.help,
div.content-help-inner div.help {
  background-color: #E4EEF8;
  border-color: #57718A;
  color: #292929;
}

div.messages ul,
div.content-help .help ul {
  list-style-position: inside;
}

div.messages a:link,
div.messages a:visited,
.help a:link,
.help a:visited,
.help .more-help-link a:link,
.help .more-help-link a:visited {
  color: #333;
  text-decoration: underline;
}

div.messages a:hover,
div.messages a:active,
.help a:hover,
.help a:active,
.help .more-help-link a:hover,
.help .more-help-link a:active,
div.messages em {
  color: #333;
  text-decoration: none;
}

#content-region ul.tips li {
  background: transparent;
  list-style: disc;
  list-style-image: none;
  list-style-position: inside;
}

/* Welcome Page
/-------------------------------------------------------------- */
#first-time p {
  clear: both;
}

/* Maintenance Page
/-------------------------------------------------------------- */
/* let site name & slogan drop under logo */
.in-maintenance #logo {
  float: none;
}

/* Poll
/-------------------------------------------------------------- */
/* increase default font size and spacing of poll titles */
.block-poll .poll div.title {
  font-weight: bold;
  margin-bottom: 10px;
}


/* Views
/-------------------------------------------------------------- */
.view {
  margin: 0;
}

/* views form field width limit */
.views-edit-view input,
.views-edit-view textarea {
  max-width: 95%;
}

/* remove extra bottom margin from last node in view */
.block-wrapper .block-views .views-row-last .node {
  margin-bottom: 0;
}

/* prevent horizontal scrollbar on admin link hover */
div.view div.views-admin-links {
  width: auto;
}

div.view div.views-admin-links li {
  background: transparent;
}

/* Reset any list/link styling on views admin links */
div.view div.views-admin-links ul.links,
div.view div.views-admin-links ul.links li,
div.view div.views-admin-links ul.links li a:link,
div.view div.views-admin-links ul.links li a:visited,
div.view div.views-admin-links ul.links li a:hover,
div.view div.views-admin-links ul.links li a:focus {
  background-image: none;
  border: 0;
  display: inline;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

div.view div.views-admin-links ul.links li {
  list-style: none;
  list-style-image: none;
}

div.view div.views-admin-links ul.links li a:link,
div.view div.views-admin-links ul.links li a:visited {
  background-color: #fff;
  color: #000;
  filter: alpha(opacity=75);
  -khtml-opacity: 0.75;
	-moz-opacity: 0.75;
  opacity: 0.75;
  padding: 3px;
}

div.view div.views-admin-links ul.links li a:hover,
div.view div.views-admin-links ul.links li a:focus {
  text-decoration: underline;
}


/* center product grids */
.category td,
.category-grid-products td,
.cart-block-summary-table tr.cart-block-summary-tr td {
  text-align: center;
}

.uc-price-list_price,
.uc-price-list {
  text-decoration: line-through;
}

/* Vertical tabs
/-------------------------------------------------------------- */
.vertical-tabs {
  margin-left: 0;
}

.vertical-tabs-list {
  border: none;
  left: -1.5em;
}

.vertical-tabs ul li {
  border-left: none;
  list-style-image: none;
}

.vertical-tabs ul li.last {
  border-bottom: none;
}

.vertical-tabs-list li a:link,
.vertical-tabs-list li a:visited,
.vertical-tabs-list li a:hover,
.vertical-tabs-list li a:active {
  background-color: transparent;
  background-image: none;
  border: none;
}

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
	background: #DFDFDF;
  font-size: 75%;
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
	color: #551A8B;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}

.footer-message {
  font-size: 90%;
}

.footer-message-text-inner {
	text-align: center;
}

/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}

/* Typography for site slogan */
#slogan {
}


/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
	background: #DFDFDF;
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
	background-color: #502D7F;
}

.header-group {
	padding-top: 10px;
}

.header-inner .block {
	width: 470px;
}

.header-inner .block .inner,
.header-inner .block .inner p {
	padding: 0;
	margin: 0;
}

.header-bottom-group-inner div .block .inner {
	margin: 0;
}

.header-bottom-group-wrapper {
	background: url("") repeat-x scroll center top #502D7F;
	border-top: 1px solid #8D809A;
	border-bottom: 1px solid #8D809A;
	margin-bottom: 20px;
}

.header-bottom-group {
	max-height: 176px;
	min-height: 100px;
	overflow: hidden;
}

.header-bottom-group div {
	overflow: visible;
}

.header-bottom-group .block {
	width: auto;
	margin-bottom: 0;
}

.header-bottom-group .header-bottom-content-last.block {
	float: right;
	text-align: right;
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
	background: #FFFFFF;
	border-bottom: 1px solid #000;
}

.header-top {
}

.header-group .block,
.header-top .block {
	margin-bottom: 0;
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}

/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
	background: #DFDFDF;
	margin-bottom: 20px;
}

.preface-top {
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
	background: url("") repeat-x scroll 0 0 #FFFFFF;
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-last {
}


/* Content Regions
-------------------------------------------------------------- */
.content-top {
}

.content {
}

.content-inner {
}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
}

.postscript-bottom {
}

.postscript-bottom-inner {
}

.footer-wrapper {
	background: #DFDFDF;
	border-top: 1px solid #4D043C;
	padding-top: 15px;
}

.footer {
}

.footer-inner {
}

.footer-message-wrapper {
	background: #DFDFDF;
}

.footer-message {
}

.footer-message-inner {
}

.footer-message-text {
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: bold;
	font-size: 40px;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #000;
}

/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus   TODO: tab styles?
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* APPLICATION STYLES */
#login-bar {
	float: right;
}

/* Main Menu */
#menu, #menu ul {
	background: #DDD;
	float: left;
	width: 100%;
	padding-left: 10px;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	list-style: none;
	line-height: 1.5;
	text-transform: uppercase;
	z-index: 10000;
}

#menu a {
	color: #000;
	display: block;
	text-decoration: none;
}

#menu li {
	float: left;
	display: block;
	padding: 4px 20px 4px 4px;
}

#menu li ul {
	position: absolute;
	background: #999;
	border: 1px solid #000;
	padding: 4px;
	width: auto;
	left: -999em;
}

#menu li ul li {
	clear: both;
}

#menu li ul ul {
	margin: -1em 0 0 10em;
}

#menu li:hover ul ul,
#menu li:hover ul ul ul,
#menu li.sfhover ul ul,
#menu li.sfhover ul ul ul {
	left: -999em;
}

#menu li:hover ul,
#menu li li:hover ul,
#menu li li li:hover ul,
#menu li.sfhover ul,
#menu li li.sfhover ul,
#menu li li li.sfhover ul {
	left: auto;
}